# Azure Speech
AZURE_SPEECH_KEY=your_speech_key
AZURE_SPEECH_REGION=japaneast

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_KEY=your_openai_key
AZURE_OPENAI_API_VERSION=2024-05-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o-mini

# DB（Azure MySQL）
DATABASE_URL=mysql+pymysql://tech0:Genclass1@mysql-gen12-class1.mysql.database.azure.com:3306/gen12db


# App
APP_ENV=development
LOG_LEVEL=INFO


LINE_CHANNEL_ACCESS_TOKEN=
LINE_MESSAGING_CHANNEL_SECRET=

LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=
LINE_LOGIN_CALLBACK_URL=

FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_LINE_RESULT_URL=http://localhost:3000/settings/line
FRONTEND_TODAY_URL=http://localhost:3000

GOOGLE_CALENDAR_URL=https://calendar.google.com/calendar/u/0/r/day

INTERNAL_BATCH_TOKEN=
APP_TIMEZONE=Asia/Tokyo
REMINDER_TIMES=07:00,10:00,13:00,15:00,17:00