# Azure Speech
AZURE_SPEECH_KEY=your_speech_key
AZURE_SPEECH_REGION=japaneast

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_KEY=your_openai_key
AZURE_OPENAI_API_VERSION=2024-05-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o-mini

# DB（Azure MySQL）
DATABASE_URL=mysql+pymysql://tech0:Genclass1@mysql-gen12-class1.mysql.database.azure.com:3306/gen12db


# App
APP_ENV=development
LOG_LEVEL=INFO