# macOS system files
.DS_Store

# Environments
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
# Keep .env.example tracked
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.pytest_cache/
.mypy_cache/
*.pyc

# Databases
*.db
*.sqlite3
dev.db

# VS Code settings
.vscode/

# Media / Audio files (usually huge binaries should be excluded)
*.wav
*.mp3

#frontend
frontend/.env.local
frontend/.next/
frontend/out/
frontend/node_modules/

.DS_Store
__MACOSX/

# VS Codeの個人設定
.vscode/